// app global css in SCSS form

.rows {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.cols {
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin: 3px;
  width: 100%;
}
.cols.wrap {
  flex-wrap: wrap;
}
.cols.inline {
  display: inline-flex;
}

.firstSmall > :first-child {
  flex: 0 1 fit-content;
  margin-right: auto;
}
.lastSmall > :last-child {
  flex: 0 1 fit-content;
  margin-left: auto;
}

.q-drawer__content {
  background-color: transparent;
  overflow: visible
}

aside.q-drawer {
  background-color: transparent;
  backdrop-filter: brightness(85%) blur(2px);
  isolation: isolate;
}

.bg-transparent {
  backdrop-filter: brightness(85%) blur(2px);
}

.CtxtMenu_MenuFrame {
  z-index: 99999 !important;
}
