// app global css in SCSS form

.rows {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.cols {
  display: flex;
  flex-direction: row;
  gap: 3px;
  margin: 3px;
  width: 100%;
}
.cols.wrap {
  flex-wrap: wrap;
}
.cols.inline {
  display: inline-flex;
}

.firstSmall > :first-child {
  flex: 0 1 fit-content;
  margin-right: auto;
}
.lastSmall > :last-child {
  flex: 0 1 fit-content;
  margin-left: auto;
}

.q-drawer__content {
  background-color: transparent;
  overflow: visible;
}

aside.q-drawer {
  background-color: transparent;
  backdrop-filter: brightness(85%) blur(2px);
  isolation: isolate;
}

.bg-transparent {
  backdrop-filter: brightness(85%) blur(2px);
}

.bg-transparent-dark {
  backdrop-filter: brightness(65%) blur(2px);
  background-color: #00000000;
}

.tex {
  background-color: #00000035;
}

.CtxtMenu_MenuFrame {
  z-index: 99999 !important;
}

.data-table {
  /* height or max-height is important */
  .q-table__bottom {
    bottom: 0;
    position: sticky
  }

  .q-table__top,
  .q-table__bottom,
  thead tr:first-child th {
    /* bg color is important for th; just specify one */
    background-color: black
  }
  thead tr th {
    position: sticky;
    z-index: 1;
  }
  thead tr:first-child th {
    top: 0;
  }

  /* this is when the loading indicator appears */
  &.q-table--loading thead tr:last-child th {
    /* height of all previous header rows */
    top: 48px;
  }
}
